<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>Fashion Feet</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
     <h4 class="c1">Add a New Product</h4>
	 <form action="/AddData" method="POST">
	    <label>Product Id: </label>
		<input type="number" placeholder="Enter Product ID" name="pid"><br>
		
		<label>Product Category: </label>&nbsp;
		<input type="text" placeholder="Enter Category" name="category"><br>
		
		<label>Type of the Product: </label>&nbsp;
		<input type="text" placeholder="Enter Type" name="type"><br>
		
		<label>Size: </label>
		<input type="number" placeholder="Enter size" name="size"><br>
		
		<label>Stock: </label>&nbsp;
		<input type="number" placeholder="Enter quantity" name="stock"><br>
		
		<label>Cost Price: </label>&nbsp;
		<input type="number" placeholder="Enter cost" name="cp"><br>
		
		<label>Selling Price: </label>&nbsp;
		<input type="number" placeholder="Enter sp" name="sp"><br><br>
		
		<button type="submit">Submit</button>
		
	</form>
</body>
</html>
	
		
		
		
		