<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>Fashion Feet</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
     <h4 class="c1">Fashion Feet Inventory Management System</h4>
	 <form method = "post" action="/update">
	 
	    <label>Product Id: </label>&nbsp;
		<input type="number" placeholder="Enter Product Id" name="id"><br>
		
		<label>New Stock: </label>&nbsp;
		<input type="number" placeholder="Enter quantity" name="stock"><br>
		
		<button id="update" >Update</button>
	</form>
	<a href="/" class="c2">Home Page</a>
</body>
</html>